body{
	background-color: #111111;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;

}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	padding: 0;
	margin: 0;
}

header{
	background-color: #262626;
	/*background-color:#f4f5f7;*/
	padding-top: 20px;
	min-height: 70px;
}

li{
	display: inline-block;
}

li a{
	color:#ffffff;
	/*color:#b7b7b7;*/
	text-decoration:none;
	text-transform:uppercase;
	font-size: 20px;

}

header li{
	display:inline-block;
	float:left;
	padding:0 20px 0 30px;
}


header nav{
	float:right;
	margin-top:50px;
}

#showcase{
	background:url('../img/showcaseg1.jpg')  no-repeat 	0px -200px;
	min-height:500px;
}

header #logo{
	font-family:Mistral;
	font-size:50px;
	color:#ffffff;
	float:left;
	letter-spacing:2px;
}

header #logo h1{
	margin:10px;
}

header .current a{
	color:#595959;
}

header a:hover{
	color:#595959;
}

#recent{
	text-transform:uppercase;
	color:#ffffff;
	text-align:center;
}

.youtube{
	width:350px;
	height:270px;
}

footer{
	background-color:#111;
	color:#ffffff;
	padding:10px;
	text-align:center;
}

#text-main{
	float:right;
	font-family:Verdana;
	font-style:italic;
	font-size:35px;
	color:#ffffff;
	padding:10px;
	margin-top:300px;
	margin-left:200px
	text-transform: uppercase;
	font-style:400;
}

.contact-form{
	text-align: center;
}

form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}

.form-control{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #ffffff;
	font-size: 18px;
	margin-bottom: 16px;
}

input{
	height: 40px;
}

form .submit{
	background: #ff2121;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	height: 50px;
	margin-top: 20px;
}

form .submit:hover{
	background-color: #c40000;
	cursor: pointer;
}

#showcase-2{
	background: url('../img/showcase-2.jpg') 0px -500px;
	min-height:700px;
}

#showcase-3{
	background: url('../img/showcase-3.jpg') 0px -460px;
	min-height:500px;
}

.note{
	font-size:30px;
	text-align:center;
	color:#fff;
	margin-top:50px;
}

#last{

	background-color:#111;
	border-top: 5px solid #262626;
	border-bottom: 5px solid #262626;
	padding-bottom: 10px;
	padding-top: 50px;
}

.about{
	color:#fff;
	font-family:mistral;
	font-size:100px;
}

.par{
	color:#fff;
	font-size:30px;
	margin-left:20px;
}